/* Import fonts */
@import "./fonts.css";

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F5F5F5;
    color: #272D38;
}

*{
    box-sizing: border-box;
}

h2{
    font-weight: 700;
    width: 436px;
    font-size: 48px;
    color: #272D38;
    margin: 0;
}

h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #272D38;
    margin: 0;
}

/* Header offer */

header .offer{
    width: 1076px;
    display: flex;
    justify-content: space-between;
    margin: 46px auto 0 auto;
}

header .offer .logo{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

header .offer .navbar{
    display: flex;
    gap: 45px;
}

header .offer .navbar a{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    color: #272D38;
}

/* Header content */

header .content{
    width: 1065px;
    margin: 97px auto 0 auto;
    display: flex;
    gap: 75px;
    align-items: center;
}

header .content .text .title{
    width: 540px;
    font-weight: 700;
    font-size: 64px;
    margin: 0;
}

header .content .text .main-text{
    width: 525px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 24px 0 0 0;
}

header .content .text .contact-us{
    margin: 49px 0 0 0;
    border: none;
    width: 167px;
    height: 48px;
    background-color: #8EADD5;
    border-radius: 8px;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

header .content img{
    width: 450px;
    height: 450px;
}

/* Companies */

.companies{
    width: 915px;
    height: 118px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 157px auto 0 auto;
    text-align: center;
}

.companies .title{
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    color: #667085;
}

.companies .list{
    width: 915px;
    height: 86px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.companies .list .company{
    height: 48px;
}

/* Section */

.section{
    width: 1065px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    margin: 136px auto 0 auto;
}

.section .section-image{
    width: 450px;
    height: 450px;
}

.section .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section .content .text{
    color: #272D38;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin: 26px 0 0 0;
    width: 392px;
}

.section .content .arrow{
    width: 22px;
    margin-top: 46px;
}

/* Testimonials */

.testimonials{
    width: 1065px;
    height: 515px;
    margin: 136px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials .small-title{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #272D38;
    margin: 0;
}

.testimonials .title{
    text-align: center;
    margin: 36px 0 0 0;
}

.testimonials .blocks{
    width: 100%;
    height: 344px;
    margin: 39px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.testimonials .blocks .block{
    width: 345px;
    height: 100%;
    background-color: rgba(222, 220, 219, .5);
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonials .blocks .block .avatar{
    width: 130px;
    height: 130px;
}

.testimonials .blocks .block .name{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #272D38;
    margin: 8px 0 0 0;
}

.testimonials .blocks .block .description{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #272D38;
    margin: 27px 0 0 0;
}

/* be-a-part */

.be-a-part{
    border-radius: 20px;
    background-color: rgba(222, 220, 219, .5);
    padding: 0 89px 0 75px;
}

.be-a-part .contact-us{
    font-family: 'Inter', sans-serif;
    width: 167px;
    height: 48px;
    border-radius: 8px;
    background-color: #8EADD5;
    color: #ffff;
    font-weight: 600;
    font-size: 16px;
    margin: 42px 0 0 0;
    border: none;
}

.be-a-part .content h2{
    width: 361px;
}

.be-a-part .content .text{
    width: 360px;
}

/* Footer */

footer{
    width: 100%;
    height: 443px;
    padding: 105px 0 18px 0;
}

footer .content{
    width: 1073px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 110px;
    margin: 0 auto;
}

footer .content .links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 194px;
}

footer .content .links .footer-text, a{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #272D38;
    text-decoration: none;
    margin: 0;
}

footer .content .links .digital-agency{
    width: 189px;
    height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .content .company{
    font-weight: 300;
    font-size: 16px;
    color: #272D38;
    margin: 0;
    text-align: center;
}

footer .content .links .link{
    height: 194px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .content .links .link .footer-link{
    line-height: 16px;
}

footer .content .links .link .first-link{
    margin-top: 8px;
}